:root{
    --black-colour: black;
    --white-colour: white;
    --gray-colour: #d9d9d9;
    --main-colour: #ff6347;
    --tomato-linear-gradient: linear-gradient(90deg, rgba(255, 99, 71,0.4) 0%, rgba(235, 77, 49,0.4) 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.firstsection{
    /* border: 2px solid tomato; */
    display: flex;
    height: 460px;
    margin: 0 auto;
}
.firstsection-left{
    height: 100%;
    width: 50%;
    padding: 20px;
    /* border: 2px solid purple; */
    background: var(--gray-colour);
}
.logotext{
    margin: 0 0 20px 0;
}
.logotext span{
    color: var(--main-colour);
}
.firstsection-left p{
    margin: 15px 0;
}
.line{
    height: 16px;
    width: 224px;
    background: var(--main-colour);
}
.firstsection-right{
    height: 100%;
    width: 50%;
    /* border: 2px solid yellowgreen; */
    background: var(--tomato-linear-gradient), url(Images/image1.jpg);
    background-size: cover;
    background-position: bottom left;
}
.link-holder{
    display: flex;
    padding: 20px;
    justify-content: space-around;
    color: var(--white-colour);
}
/* First section Ends here */

/* Second Section Starts here */
.secondsection{
    display: flex;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.secondsection-left{
    height: 400px;
    width: 310px;
    padding: 40px 25px;
    background: var(--gray-colour);
}
.secondsection-left p{
    margin-top: 15px;
}
.secondsection-right{
    height: 460px;
    width:340px;
    /* margin-left: 30px; */
}
.secondsection-right img{
    width: 100%;
    height: 100%;
}
/* Second section ends here */

/* Third section Starts Here */
.thirdsection{
    background: var(--gray-colour);
    display: flex;
    padding: 50px 0;
    justify-content: center;
}
.thirdsection-left{
    height: 460px;
    width: 340px;
    background: url(Images/image3.jpg);
    background-size: cover;
}
.thirdsection-right{
    height: 460px;
    width: 340px;
    background: var(--main-colour);
    padding: 40px 25px;
}
.thirdsection-right .p2{
    margin: 15px 0;
}
/* Third Section Ends Here */

/* Footer Starts Here */
footer{
    background: var(--main-colour);
    display: flex;
    padding: 20px 0;
    color: var(--white-colour);
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.icon-holder{
    font-size: 25px;
}
.icon-holder i{
    margin: 0 5px;
}