/* Media Queries */

@media screen and (max-width:600px) {
    .firstsection{
        height: 520px;
    }
    .firstsection-left{
        width: 60%;
    }
    .heading{
        font-size: 25px;
    }
    .line{
        width: 200px;
    }
    .firstsection-right{
        width: 40%;
    }

    .link-holder{
        flex-direction: column;
    }
    .link-holder h4{
        margin: 0 0 20px 0;
    }

    .thirdsection{
        flex-direction: column-reverse;
        gap: 30px;
        align-items: center ;
    }

    footer{
        gap: 20px;
        text-align: center;
    }
}